<h1 class="current-category"><%= params[:category] %></h1>

<% if @wines.count == 0 %>

	<h1>There are no wines currently in this category</h1>

	<% else %>
	<div class="container">

	<div class="row">
		<h2> About this App </h2>
	</div>
	  <div class="row">
			<p>
				Users of this application will be able to sign up for an account.
				Sign in and Sign Out. Users will also have the ability to "Add Wine",
				and for each wine, a user will also have the ability to "Add Review".
			</p>
			<p>
				Every time a user adds a wine, his wine will be associated with an image,
				a category, origin of the wine, and some basic information. When a user
				creates a review, you will see a five-star rating and a comment.
			</p>
			<p>
				To create a wine, there will be a link up in the NAV bar where you’ll link
				to a wine form, will be able to select the category for the wine, and also
				choose a file image to upload. There will also be some information about the
				wine. In the home page, you can browse through all the wines and display
				them. On the navbar, you have a link to filter by category. So if you just want to
				see the wines that are in the “Red Wine” Category, you just click the category
				you want, and you’ll see just those wines that are in the category you selected.
				To add a review on a wine, you just simply click on the wine, scroll down, and
				you’ll see the "Add Review" button. The "Add Review" button will be able to add
				a rating based on a five-star rating system, and add a comment. On the wine show
				page, you will have an average rating section, which is going to determine the
				average rating, based on the number of reviews that are currently present.
			</p>
		</div>

		<div class="row">
			<h3> GEMS used: Simple Form, Devise, Paperclip, and AWS-SDK</h3>
		</div>

</div>
	<br>
	<div class="row">

		<% @wines.each do |wine| %>

			<div class="col-md-3">
				<a href="/wines/<%= wine.id %>">
					<%= image_tag wine.wine_img.url(:wine_index), class: "wine" %>
				</a>
			</div>

		<% end %>

	</div>

<% end %>

<%= link_to "Add Wine", new_wine_path %>
<br><br><br><br>
